body {
    font: 14px/22px "Trebuchet MS", Verdana, sans-serif;
    overflow: hidden;
}
div.equation {
    text-align: center;
    font-size: 120%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    z-index: 1;
}
a {
    color: black;
    text-decoration: none;
    padding-bottom: 1px;
}
a:hover {
    border-bottom: 1px solid black;
}
.instructions {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 10px;
}
div.by {
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
}
div.by a img {
    opacity: 0.5;
}
div.by a.person:hover {
    border-bottom: none;
}
div.by a:hover img {
    opacity: 1;
}
div.by img {
    vertical-align: text-bottom;
    border-radius: 50px;
}
sup, sub {
    font-size: 60%;
    padding: 3px;
}
.github {
    background-image: url('images/github_256.png');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 21px;
}
